* {
  border: 0px;
  box-sizing: border-box;
  font-weight: inherit;
  margin: 0px;
  outline: 0px;
  padding: 0px;
  text-decoration: none;
  text-rendering: optimizelegibility;
  appearance: none;
  z-index: 99;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 12px;
  border: 2px solid rgb(204 204 204);
  border-radius: 45px;
  margin: 24px;
}