:global {
  html, body, #root {
    background-color: #23272f;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Inter, "sans-serif";
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
}

.nickname {
  font-size: 32px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: left;
  margin: 0;
  padding-left: 16px;
}

.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
  padding: 8px 20px;
  border: 2px solid rgb(204 204 204);
  border-radius: 45px;
  margin: 0 16px;
  width: 60%;
}

.greetContainer_header {
  flex: 0 0 auto;
  height: 50%;
  overflow: hidden;
  width: 100%;

}

.greetContainer_name {
  display: block;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.greetContainer {
  border-bottom: 0.2rem solid #000;
  margin: 100px 50px 0 50px;
}

.dark {
  background-color: #23272f;
  color: #ffffff;
}

.light {
  background-color: white;
  color: #000000;
}