:global {
  html, body, #root {
    background-color: #23272f;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Inter, "sans-serif";
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 12px;
  border: 2px solid rgb(204 204 204);
  border-radius: 45px;
  margin: 24px;
}

.dark {
  background-color: #23272f;
}

.light {
  background-color: white;
}